.day-nav{
  grid-auto-flow:column;
  grid-auto-columns:minmax(0,1fr);
}
.day-nav-day{
  display:grid;
  justify-items:center;
  padding:var(--padding-md) 0;
  font-family:var(--font-alt);
  font-size:var(--text-md);
  font-weight:600;
}
.day-nav-day small{
  margin-top:var(--padding-3xs);
  font-size:var(--text-2xs);
  font-weight:500;
  color:var(--color-text-dim);
}
.day-nav-day.is-active small{color:var(--color-primary-darker)}
.day-nav{gap:var(--padding-sm)}
