.dome{
  display:grid;
  padding:var(--padding-xs);
}
.dome-inner{
  align-content:start;
  padding:var(--padding-5xl);
  gap:var(--padding-2xl);
}
.dome.snug{padding:var(--padding-3xs)}
.dome.roomy{padding:var(--padding-md)}
.dome-inner.bare{padding:0}
.dome-inner.snug{padding:var(--padding-2xl)}
.dome-inner.wide{padding:var(--padding-5xl) var(--padding-5xl) var(--padding-5xl)}
.dome-inner.tall{min-height:8rem}
.dome-inner.squat{min-height:4rem}
