.well{
  display:grid;
  padding:var(--padding-base);
}
.well-inner{
  align-content:start;
  padding:var(--padding-2xl);
  gap:var(--padding-2xl);
}
.well.snug{padding:var(--padding-2xs)}
.well.roomy{padding:var(--padding-md)}
.well-inner.bare{padding:0}
.well-inner.tall{min-height:8rem}
