.text-domed{
  color:var(--color-text-strong);
  background-image:
    radial-gradient(150% 150% at 75% 75%, rgba(var(--shadow-rgb),0) 30%, rgba(var(--shadow-rgb),calc(.5*var(--shadow-strength)))),
    radial-gradient(150% 150% at -10% -10%, rgba(var(--highlight-rgb),0) 50%, rgba(var(--highlight-rgb),calc(.35*var(--highlight-strength))));
  background-color:var(--bg-container-light);
  -webkit-background-clip:text;
  background-clip:text;
  text-shadow:
    0 -.0625rem 0 rgba(var(--shadow-block-rgb),.4),
    0 .0625rem 0 rgba(var(--highlight-rgb),.07);
}
@supports (background-clip:text) or (-webkit-background-clip:text){
  .text-domed{
    -webkit-text-fill-color:transparent;
    color:transparent;
  }
}
.text-domed.bulge{
  background-image:
    radial-gradient(160% 160% at 57.5% 60%, rgba(var(--highlight-rgb),0) 30%, rgba(var(--highlight-rgb),calc(.5*var(--highlight-strength))) 45%),
    radial-gradient(180% 200% at 40% 17.5%, rgba(var(--shadow-rgb),0) 35%, rgba(var(--shadow-rgb),calc(.34*var(--shadow-strength))) 50%);
}
.text-domed.flat{text-shadow:none}
@media (forced-colors:active){
  .text-domed{
    background-image:none;
    -webkit-text-fill-color:currentColor;
    color:var(--color-text-strong);
    text-shadow:none;
  }
}
