.checkbox{
  display:grid;
  width:1.625rem;
  height:1.625rem;
  cursor:pointer;
}
.checkbox input{position:absolute;opacity:0;width:0;height:0}
.checkbox-box{
  border-radius:var(--radius-sm);
  display:grid;
  place-items:center;
  width:100%;
  height:100%;
  color:transparent;
  transition:color var(--speed-fast) var(--ease),box-shadow var(--speed) var(--ease);
}
.checkbox-box svg{width:.75rem;height:.75rem}
.checkbox input:checked ~ .checkbox-box{
  border-radius:var(--radius-sm);color:var(--color-primary-darker)}
.checkbox.large{width:2rem;height:2rem}
.checkbox.large .checkbox-box svg{width:.9375rem;height:.9375rem}
