.colored-state-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 32px;
  padding: 16px;
  box-sizing: border-box;
}

colored-state-tile {
  display: contents;
}

.colored-state-tile {
  display: grid;
  grid-template-rows: auto auto;
  width: max-content;
  text-align: center;
}

.colored-state-tile .title {
  font-weight: 600;
}

.colored-state-tile .label {
  color: #6f7276;
  font-size: 12px;
}
