.shell-frame{
  display:grid;
  min-height:0;
  padding:var(--padding-3xl);
}
.shell{
  min-height:0;
  padding:var(--padding-4xl);
}
.shell-side{
  align-content:start;
  min-height:0;
}
.shell-main{
  align-content:start;
  min-height:0;
}
.shell.narrow{padding:var(--padding-2xl)}
@media (max-width:60rem){
  .shell.grid.side-l{grid-template-columns:minmax(0,1fr);grid-template-areas:"side" "main"}
}
.shell{gap:var(--padding-4xl)}
.shell-side{gap:var(--padding-4xl)}
.shell-main{gap:var(--padding-3xl)}
